<% if(course != null) { %>

<h1><%- course.courseName %></h1>

<h2>Information om kursen</h2>

<p><strong>Kurskod:</strong> <%- course.courseId %></p>
<p><strong>Namn:</strong> <%- course.courseName %></p>
<p><strong>Period:</strong> <%- course.coursePeriod %></p>

<a href="/">Tillbaka</a>

<% } %>